
nav{
display: flex;
justify-content: flex-end;
font-size: 0.9em;
margin: 5px;
}
nav a
{
  padding: 1em;
  border-radius: 10px;

}
nav a:last-child{
  background-color: green;
  color: white;
}
header{
  text-align: center;
  margin-top: 9em;
}
img{
  border-radius: 50%;
}
h1{
  font-size: 3em;
}
h2{
  font-weight: normal;
}
em{
color: green;
font-style: normal;
}
